.star {
  width: 3rem;
  height: 3rem;
  background: #6b778d;
  border-radius: 50%;
  display: flex;
}

.star > img {
  margin: auto;
}

.rating {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.rating img {
  opacity: 0.3;
}

.inner input {
  /* width: 100%; */
  padding: 0.8rem 6.7rem;
  /* height: 40px; */
  border-radius: 3rem;
  background: #f76e11;
  /* outline: none; */
  border: 0rem;
  font-weight: 700;
  letter-spacing: 0.15rem;
}

input {
  margin-left: 0.8rem;
}
