* {
  margin: 0rem;
  padding: 0rem;
}

html,
body {
  height: 100%vh;
  background-color: #17223b;
}

.container {
  display: flex;
  width: 23rem;
  height: 25rem;
  border-radius: 7%;
  margin: 0 auto;
  margin-top: 6rem;
  background: #263859;
}

.inner {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.inner h2,
p,
input {
  color: #fff;
}

p {
  margin-top: 0.6rem;
  font-weight: 100;
}
