.inner {
  align-items: center;
}

.inner .result {
  width: 75%;
  height: 2.5rem;
  border-radius: 1.87rem;
  color: #FF5F00;
  background: #6b778d;
  text-align: center;
  line-height: 2.5rem;
  font-weight: 700;
}

.inner h2,
p {
  text-align: center;
}
